<a href="https://colab.research.google.com/github/ParkGeunHae/dataAnalysis/blob/main/3%EC%9D%BC%EC%B0%A8_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EA%B8%B0%EC%B4%88_%EC%BB%AC%EB%A0%89%EC%85%98%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 3. 컬렉션 자료형

## 3-1 리스트(list)

### 리스트 생성

In [3]:
#빈 리스트 생성
a=[]
a=list()
print(type(a))
print(a)

<class 'list'>
[]

In [6]:
# 초기 데이터 넣고 리스트 생성
import math
a=[1,2,3,4,5]
a=[1,'apple','딸기',3.14,math.pi,max([10,20,30])]
b=[1,2,a,['사과','딸기',{'k':'kiwi'}]]
print(a)
print(b)

[1, 'apple', '딸기', 3.14, 3.141592653589793, 30]
[1, 2, [1, 'apple', '딸기', 3.14, 3.141592653589793, 30], ['사과', '딸기', {'k': 'kiwi'}]]

In [9]:
numlist=[]
for num in range(1,21,2): #for 반복문, range() : 정수를 순차로 발생
  numlist.append(num)   #리스트에 데이터 추가
print(numlist)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [11]:
print(b)
for i in b: # for 반복문, b란 이름의 리스트 안에 있는 요소를 하나씩 출력하는 코드
  print(i)

[1, 2, [1, 'apple', '딸기', 3.14, 3.141592653589793, 30], ['사과', '딸기', {'k': 'kiwi'}]]
1
2
[1, 'apple', '딸기', 3.14, 3.141592653589793, 30]
['사과', '딸기', {'k': 'kiwi'}]

### 리스트 요소에 접근

In [17]:
colors=['빨강','초록','파랑','노랑','검정']
print(colors[0])
print(colors[2:4])
print(colors[::-1]) # 거꾸로 정렬

for color in colors:
  print(f'나는 "{color}" 색상을 좋아합니다.')

빨강
['파랑', '노랑']
['검정', '노랑', '파랑', '초록', '빨강']
나는 "빨강" 색상을 좋아합니다.
나는 "초록" 색상을 좋아합니다.
나는 "파랑" 색상을 좋아합니다.
나는 "노랑" 색상을 좋아합니다.
나는 "검정" 색상을 좋아합니다.

### 리스트에 요소 추가하기

In [22]:
print(colors)
# 인덱스 2위치에 '분홍'넣기
colors.insert(2,'분홍')
print(colors)

# 맨 뒤에 추가하기
colors.append('보라')
print(colors)

['빨강', '초록', '분홍', '분홍', '분홍', '파랑', '노랑', '검정', '보라']
['빨강', '초록', '분홍', '분홍', '분홍', '분홍', '파랑', '노랑', '검정', '보라']
['빨강', '초록', '분홍', '분홍', '분홍', '분홍', '파랑', '노랑', '검정', '보라', '보라']

### 리스트 특정 위치의 요소값 변경

In [28]:
colors[3]='주황'
print(colors)
colors[1:3]='갈색'
print(colors)
colors[1:3]=['갈색','고동']  #맞는 개수만큼 넣어줌
print(colors)
colors[1:4]='갈색'  #주의!! 범위를 넘어가면 삭제됨(인덱스 개수가 다르면 대체가 안되고 없어짐.)
print(colors)

['빨강', '갈', '색', '주황', '분홍', '파랑', '노랑', '검정', '보라', '보라']
['빨강', '갈', '색', '주황', '분홍', '파랑', '노랑', '검정', '보라', '보라']
['빨강', '갈색', '고동', '주황', '분홍', '파랑', '노랑', '검정', '보라', '보라']
['빨강', '갈', '색', '분홍', '파랑', '노랑', '검정', '보라', '보라']

### 리스트의 요소 삭제

In [35]:
colors=['빨강','초록','파랑','노랑','노랑','검정']

print(colors)

# 맨 뒤에 있는 것 삭제(꺼내기)
colors.pop()
print(colors)

# 요소값과 일치하는 것 삭제
colors.remove('노랑')
print(colors)

#전체 요소 삭제
colors.clear()
print(colors)

['빨강', '초록', '파랑', '노랑', '노랑', '검정']
['빨강', '초록', '파랑', '노랑', '노랑']
['빨강', '초록', '파랑', '노랑']
[]

### 리스트 자체-삭제

In [37]:
del(colors)
print(colors)

NameError: name 'colors' is not defined

### 2차원/3차원... 리스트 요소 접근

In [45]:
animals=['사자','호랑이','곰',
 ['고양이','강아지',['돌고래','범고래'],'햄스터']
         ]
print(animals)
print(animals[1])
print(animals[3])
print(animals[3][1])
print(animals[3][2][1])

['사자', '호랑이', '곰', ['고양이', '강아지', ['돌고래', '범고래'], '햄스터']]
호랑이
['고양이', '강아지', ['돌고래', '범고래'], '햄스터']
강아지
범고래

### 리스트 길이(요소의 개수)

In [48]:
print(animals)
print(len(animals))  #쉼표로 구분
print(len(animals[3]))
print(len(animals[3][2]))

['사자', '호랑이', '곰', ['고양이', '강아지', ['돌고래', '범고래'], '햄스터']]
4
4
2

### 리스트 함수

In [54]:
colors=['빨강','초록','파랑','노랑','검정','노랑']

#리스트 요소 정렬
print(colors)
colors.sort()  #순차 정렬(가나다순)
print(colors)

colors.reverse() #역순 정렬
print(colors)

# 리스트의 특정 요소 위치 찾기
print(colors.index('빨강'))
print(colors.index('노랑')) #여러 개 있을 경우 맨 앞의 인덱스 나타내기

#요소 값 개수세기
print(colors.count('노랑'))

#리스트 정렬해서 새로운 이름으로 저장해서 사용
new=sorted(colors)
print(new)

['빨강', '초록', '파랑', '노랑', '검정', '노랑']
['검정', '노랑', '노랑', '빨강', '초록', '파랑']
['파랑', '초록', '빨강', '노랑', '노랑', '검정']
2
3
2
['검정', '노랑', '노랑', '빨강', '초록', '파랑']

In [58]:
colors=['빨강','초록','파랑','노랑','검정','노랑']
newColors=['red','green','blue']
print(colors)
print(newColors)
colors.extend(newColors)
print(colors)

colors=['빨강','초록','파랑','노랑','검정','노랑']
newColors=['red','green','blue']
colors+=colors+newColors
print(colors)

['빨강', '초록', '파랑', '노랑', '검정', '노랑']
['red', 'green', 'blue']
['빨강', '초록', '파랑', '노랑', '검정', '노랑', 'red', 'green', 'blue']
['빨강', '초록', '파랑', '노랑', '검정', '노랑', '빨강', '초록', '파랑', '노랑', '검정', '노랑', 'red', 'green', 'blue']

## 3-2. 딕셔너리(Dictionary)

### 딕셔너리 자료 생성

In [62]:
dic=dict() # 빈 딕셔너리 생성
dic={}  # 빈 딕셔너리 생성
print(type(dic))

<class 'dict'>

In [69]:
# 딕셔너리는 Key:Value 구조
members={1:'이승철',2:'박정현', 'bts':['진','RM','뷔','지민']}
print(members)
print(members[2])  #2는 키값이다.
print(members['bts'])
print(members['bts'][1])
print(len(members)) #쉼표로 구분해서

{1: '이승철', 2: '박정현', 'bts': ['진', 'RM', '뷔', '지민']}
박정현
['진', 'RM', '뷔', '지민']
RM
3

### 딕셔너리에서 Value에 접근하기
-Key를 통해서 Value에 접근할 수 있다.

In [71]:
members={1:'이승철',2:'박정현', 'bts':['진','RM','뷔','지민']}
for key in members:
  print(f 'Key->{key},Value->{members[key]}')

1 이승철
2 박정현
bts ['진', 'RM', '뷔', '지민']

### 딕셔너리에서 자주 사용하는 함수

In [73]:
members={1:'이승철',2:'박정현', 'bts':['진','RM','뷔','지민']}
print(members.keys()) #key만 모아둔 것
print(members.values()) #value만 모아둔 것
print(members.items())  #(key,value) 쌍으로 모아둔 것

dict_keys([1, 2, 'bts'])
dict_values(['이승철', '박정현', ['진', 'RM', '뷔', '지민']])
dict_items([(1, '이승철'), (2, '박정현'), ('bts', ['진', 'RM', '뷔', '지민'])])

In [76]:
# for (key,value) in members.items():
for key,value in members.items():
  print(key,value)

for key in members.keys():
  print(key,members[key])

for key in members():
    print(key,members[key])

1 이승철
2 박정현
bts ['진', 'RM', '뷔', '지민']
1 이승철
2 박정현
bts ['진', 'RM', '뷔', '지민']

TypeError: 'dict' object is not callable

### 딕셔너리에 요소 추가/수정/삭제

In [86]:
members={1:'이승철',2:'박정현', 'bts':['진','RM','뷔','지민']}
print(members)

#요소 추가
members[3]='NCT Dream'
members['소속사']=['하이브','SM기획']


#요소 수정
members[1]='세븐틴'
print(members)

#요소 삭제
del(members['소속사'])
print(members)

#딕셔너리 삭제
del(members)
print(members)

{1: '이승철', 2: '박정현', 'bts': ['진', 'RM', '뷔', '지민']}
{1: '세븐틴', 2: '박정현', 'bts': ['진', 'RM', '뷔', '지민'], 3: 'NCT Dream', '소속사': ['하이브', 'SM기획']}
{1: '세븐틴', 2: '박정현', 'bts': ['진', 'RM', '뷔', '지민'], 3: 'NCT Dream'}

NameError: name 'members' is not defined

## 3-3. 튜플(Tuple)

### 튜플생성

In [89]:
tup=tuple() #빈 튜플 생성
tup=()      #빈 튜플 생성
print(type(tup))

a=[1,2,3,4]
print(a)
print(tuple(a))  #리스트를 튜플로 반환

<class 'tuple'>
[1, 2, 3, 4]
(1, 2, 3, 4)

In [92]:
tup=('사과')   # 괄호는 묶음의 의미로 해석
print(type(tup))

tup=('사과',) # 튜플에서 요소가 하나일 때는 반드시 맨 뒤에 ,(쉼표) 추가
print(type(tup))

<class 'str'>
<class 'tuple'>

In [95]:
help(list) #help() ()안에 자료형 도움말

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

### 튜플은 변수를 정의할 때/함수의 파라미터의 정의에 사용

In [96]:
a,b=100,200  # 항상 1:1매핑이 되어야 함
a,b=100,[1,2,3]
print(a)
print(b)

100
[1, 2, 3]

In [97]:
def nSum(a,b): # parameter
  return a+b

nSum(100,200) # argument

300

## 3-4.집합(Set)

### 집합 생성

In [100]:
a=set() # 빈 집합 생성
print(type(a))

a={1,2,3,4,2,2,4} #unique한 데이터만 남는다.
print(a)

<class 'set'>
{1, 2, 3, 4}

### 집한은 중복된 데이터는 배제한다.
  - unique한 데이터만 남는다.
  - 순서가 없다

In [103]:
a=[1,2,3,4,5,6,7,2,2,3,5,6,7,5,2]
print(a)
a=list(set(a))
print(a)

[1, 2, 3, 4, 5, 6, 7, 2, 2, 3, 5, 6, 7, 5, 2]
[1, 2, 3, 4, 5, 6, 7]

### 집한에 요소 추가/삭제

In [115]:
S={1,2,3,'a','b'}
print(S)

# 요소 추가
S.add(4)
print(S)

# 요소 여러 개 추가
S.update(['c','d',5])
print(S)
S.update('apple') # unique한 값만 추가됨
print(S)

# 요소 1개 삭제
S.discard('a')
print(S)
S.discard('apple')  # 하나의 요소로 인식
print(S)

'''S.discard(['p','l'])  # 오류 발생
print(S)'''

#특정 요소 삭제
S.remove(1)
print(S)

#임의의 요소 1개 삭제
S.pop()
print(S)

{1, 2, 3, 'b', 'a'}
{1, 2, 3, 4, 'b', 'a'}
{1, 2, 3, 4, 'd', 5, 'a', 'b', 'c'}
{1, 2, 3, 4, 'd', 5, 'e', 'a', 'p', 'b', 'l', 'c'}
{1, 2, 3, 4, 'd', 5, 'e', 'p', 'b', 'l', 'c'}
{1, 2, 3, 4, 'd', 5, 'e', 'p', 'b', 'l', 'c'}
{2, 3, 4, 'd', 5, 'e', 'p', 'b', 'l', 'c'}
{3, 4, 'd', 5, 'e', 'p', 'b', 'l', 'c'}

In [116]:
# 집합 삭제
del(S)
print(S)

NameError: name 'S' is not defined

In [ ]:
help(set)

###교집합/합집합/차집합

In [121]:
S1={1,2,3,4,5}
S2={3,4,5,6,7}
print(S1)
print(S2)

# 교집합
print(S1&S2)
print(S1.intersection(S2))

# 합집합
print(S1|S2)
print(S1.union(S2))

# 차집합
print(S1-S2)
print(S1.difference(S2))
print(S2-S1)
print(S2.difference(S1))

# 세 개 이상 집합에서 사용
# A.intersection_update(B,C)-->계산 결과를 A로 다시 변경
S1={1,2,3,4,5}
S2={3,4,5,6,7}
S3={5,6,7}
print(S1.intersection_update(S2,S3))
print(S1)

# 두 개에서도 사용가능 꼭 세 개가 아니어도 됨(update)
S1={1,2,3,4,5}
S2={3,4,5,6,7}
print(S1.intersection_update(S2))
print(S1)

{1, 2, 3, 4, 5}
{3, 4, 5, 6, 7}
{3, 4, 5}
{3, 4, 5}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{1, 2}
{1, 2}
{6, 7}
{6, 7}
None
{5}
None
{3, 4, 5}