<a href="https://colab.research.google.com/github/ParkGeunHae/dataAnalysis/blob/main/5%EC%9D%BC%EC%B0%A8_%ED%8C%8C%EC%95%84%EC%8D%AC%EA%B8%B0%EC%B4%88_%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 5.반복문

## 5-1. for 반복문
유한개수의 반복

### 1. 다양한 반복문

In [2]:
# 1. range() 함수 이용 : 정수를 차례로 발생시키는 함수
# for 변수 in range(0,3,1):
for 변수 in range(3):
    print(변수)

0
1
2

In [12]:
# 2. 리스트 이용
a=list(range(10,0,-1))
a=list(range(1,11))
for i in a:
    print(i)

for i in a:
    print(i,end=',')

1
2
3
4
5
6
7
8
9
10
1,2,3,4,5,6,7,8,9,10,

In [13]:
# 한 줄로 표현하는 방법
for i in range(1,101):
    print(i,end=',')

1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,

In [15]:
# 3. 문자열 이용
for i in 'python':
    print(i)

p
y
t
h
o
n

In [17]:
# 4. 변수 사용 안 하고 반복만 할 때
for _ in range(3):
    print('좋은 아침!')

좋은 아침!
좋은 아침!
좋은 아침!

In [22]:
# 5. enumerate():리스트와 같은 순서가 있는 자료형의 인덱스를 함께 사용
fruits= ['사과','포도','딸기','키위']

idx=0
for fruit in fruits:
    print(idx,fruit)
    idx+=1

for idx,fruit in enumerate(fruits):
    print(idx,fruit)

0 사과
1 포도
2 딸기
3 키위
0 사과
1 포도
2 딸기
3 키위

In [30]:
# 6. 컬렉션 자료형 특징 이용
for a,b in [(1,2,),(3,4),(5,6)]:    #형태가 맞아야 함
    print(a,b)
    print('*'*30)

# 딕셔너리
dic={1:'사과',2:'포도'}

for key in dic:
    print(key,dic[key])

print('*'*30)

for key,value in dic.items():
    print(key,value)

print('*'*30)

# 집합
for v in {1,2,3,3,4,5,3}:
    print(v)

1 2
******************************
3 4
******************************
5 6
******************************
1 사과
2 포도
******************************
1 사과
2 포도
******************************
1
2
3
4
5

In [36]:
n=int(input('합계를 구할 숫자 입력: '))
hap=0

for i in range(n+1):
    if i%2==1 :
        hap+=i
print(f'1 ~ {n}까지 짝수를 제외한 합은: {hap}')

합계를 구할 숫자 입력: 100
1 ~ 100까지 짝수를 제외한 합은: 2500

In [35]:
n=int(input('합계를 구할 숫자 입력: '))
hap=0

for i in range(1,n+1,2):
    hap+=i
print(f'1 ~ {n}까지 짝수를 제외한 합은: {hap}')

합계를 구할 숫자 입력: 100
1 ~ 100까지 짝수를 제외한 합은: 2500

In [34]:
n=int(input('합계를 구할 숫자 입력: '))
hap=sum([i for i in range(1,n+1,2)])
print(f'1 ~ {n}까지 짝수를 제외한 합은: {hap}')

합계를 구할 숫자 입력: 100
1 ~ 100까지 짝수를 제외한 합은: 2500

### [실습문제]정오각형 그리기
- turtle모듈은 사용할 수 없음

In [37]:
import turtle

t1=turtle.Pen()
t2=turtle.Pen()

t1.pensize(5)
t1.color('blue')
t1.shape('turtle')

t2.goto(-100,100)
t2.pensize(5)
t2.color('red')
t2.shape('turtle')



for _ in range(5):
    t1.forward(100)
    t1.right(360/5)


for _ in range(4):
    t2.forward(100)
    t2.right(360/4)

turtle.exitonclick()

TclError: no display name and no $DISPLAY environment variable

### [실습문제]1~100숫자를 1줄로 출력하기

In [41]:
for i in range(1,101):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [44]:
print(' '.join([str(i) for i in range(1,101)])) #str함수는 문자열로 변환

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

###[실습문제]리스트 읽어서 조건문으로 학생 성적 판별하기

In [47]:
# 방법 1

scores=[90,25,67,45,80]

for idx,score in enumerate(scores):
    if score>=60:
        print(f'{idx+1}번 학생 {score}점은 합격입니다.')
    else:
        print(f'{idx+1}번 학생 {score}점은 불합격입니다.')

1번 학생 90점은 합격입니다.
2번 학생 25점은 불합격입니다.
3번 학생 67점은 합격입니다.
4번 학생 45점은 불합격입니다.
5번 학생 80점은 합격입니다.

In [50]:
# 방법 2 random하게 5개 발생시키기
# 빈 리스트

import random

scores=[]
for _ in range(5):
    scores.append(random.randint(0,101))
print(scores)

for idx,score in enumerate(scores):
    if score>=60:
        print(f'{idx+1}번 학생 {score}점은 합격입니다.')
    else:
        print(f'{idx+1}번 학생 {score}점은 불합격입니다.')


# 방법 3 : 방법2를 한 줄로 표현
scores=[random.randint(0,101) for _ in range(5)]
print(scores)

for idx,score in enumerate(scores):
    '''if score>=60:
        print(f'{idx+1}번 학생 {score}점은 합격입니다.')
    else:
        print(f'{idx+1}번 학생 {score}점은 불합격입니다.')'''

    result= '합격' if score>=60 else '불합격'
    print(f'{idx+1}번 학생 {score}점 :  {result}입니다.')

[50, 57, 83, 59, 40]
1번 학생 50점은 불합격입니다.
2번 학생 57점은 불합격입니다.
3번 학생 83점은 합격입니다.
4번 학생 59점은 불합격입니다.
5번 학생 40점은 불합격입니다.
[55, 19, 36, 28, 27]
1번 학생 55점 :  불합격입니다.
2번 학생 19점 :  불합격입니다.
3번 학생 36점 :  불합격입니다.
4번 학생 28점 :  불합격입니다.
5번 학생 27점 :  불합격입니다.

In [64]:
'''예)
)))()()((( => False
()()()()()) => False
()(())()() => True
))(())(( => False
()(()))( => False
((())()) => True'''


p_list=list(input('괄호 : '))
print(p_list)

t=0
for p in p_list:
    if p=='(':
        t+=1
    elif p==')':
        t-=1
    if t<0:
        break

if t==0:
    print('결과:True')
else:
    print('결과:False')

괄호 : (())
['(', '(', ')', ')']
결과:True

## 중첩 for 반복문 : 반복문 안에 반복문

In [62]:
for i in range(3):
    print(f'{i}-------')
    for j in range(3):
        print(f'i:{i},j:{j}')

0-------
i:0,j:0
i:0,j:1
i:0,j:2
1-------
i:1,j:0
i:1,j:1
i:1,j:2
2-------
i:2,j:0
i:2,j:1
i:2,j:2

In [70]:
p_lists=[')))()()(((','()()()()())','()(())()()','))(())(( ','()(()))(','((())())']

for p_list in p_lists:
    print(f'괄호:{p_list}')
    t=0
    for p in p_list:
        if p=='(':
            t+=1
        elif p==')':
            t-=1
        if t<0:
            break

    if t==0:
        print('->결과:True')
    else:
        print('->결과:False')

괄호:)))()()(((
->결과:False
괄호:()()()()())
->결과:False
괄호:()(())()()
->결과:True
괄호:))(())((
->결과:False
괄호:()(()))(
->결과:False
괄호:((())())
->결과:True

## 5-2.while 반복문

### while 반복문 기본형식

In [72]:
a=0
while a<5: #조건이 참일 동안 반복
    print(f'{a}는 5보다 작군요')
    a+=1
print(f'{a}는 5와 같군요')

0는 5보다 작군요
1는 5보다 작군요
2는 5보다 작군요
3는 5보다 작군요
4는 5보다 작군요
5는 5와 같군요

In [74]:
a=0
while True:
    if a>=5:
        break
     print(f'{a}는 5보다 작군요')
     a+=1
print(f'{a}는 5보다 작군요')

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 5)

In [77]:
treeHit=0
while treeHit<11:
    print(f'나무를 {treeHit}번 찍었습니다.')
    treeHit+=1
print(f'나무 넘어갑니다.')

나무를 0번 찍었습니다.
나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

In [78]:
treeHit=0
while True:
    if treeHit>=10:
        print('나무 넘어갑니다.')
        break
    treeHit+=1
    print(f'나무를 {treeHit}번 찍었습니다.')

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.